@model IEnumerable<WebApp.ViewModels.TaskVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Menager"))
{
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })</td>
            @if (User.IsInRole("Admin") || User.IsInRole("Menager"))
            {
                <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })</td>
                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary" })</td>
            }
                else if (User.IsInRole("Employee"))
            {
                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary" })</td>
                <td>
                        @Html.ActionLink("Peticion", "Create", "TaskAssignment", new { taskId = item.Id }, new { @class = "btn btn-outline-primary" })
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
