@model IEnumerable<WebApp.ViewModels.TaskAssignmentVM>

@{
    var acceptedTasks = ViewBag.AcceptedTasks as HashSet<int> ?? new HashSet<int>();
    var deniedTasks = ViewBag.DeniedTasks as HashSet<int> ?? new HashSet<int>();
}

<h1>Task Assignments</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TaskName)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            bool isTaskAccepted = acceptedTasks.Contains(item.TaskId);
            bool isTaskDenied = deniedTasks.Contains(item.TaskId);
            @if (!isTaskAccepted)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TaskName)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                @if (!isTaskDenied){
                    <td>
                        @Html.ActionLink("Accept", "Accept", "TaskAssignment", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                        @Html.ActionLink("Deny", "Deny", "TaskAssignment", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                    </td>
                    }
                else{
                        <td> <span class="badge bg-danger">Denied</span></td>
                }
            </tr>
            }
        }
    </tbody>
</table>
